[user]
	name = Taro FURUKAWA
	email = tarowin12@gmail.com

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[ghq]
	root = ~/projects

[init]
	defaultBranch = main

[core]
	editor = vim
	autocrlf = input

[push]
	default = current

[pull]
	rebase = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	sw = switch
	d = diff
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pp = "!f() { git fetch --prune; git pull; git-delete-merged-branch $1; }; f"

# Include local/environment-specific configurations
[include]
	path = ~/.dotfiles/overlay/.gitconfig