# Zsh history file
.zsh_history
.histfile

# Zsh completion dump files
.zcompdump*
.zcompcache/

# Zsh session files
.zsh_sessions/

# macOS metadata
.DS_Store

# Generated plugin files
.zsh_plugins.zsh

overlay